# ide
*.in
.idea
# autoconf tools
aclocal.m4
ar-lib
autom4te.cache/
compile
depcomp
.libs
libtool
ltmain.sh
missing
stamp-h1
Makefile
config*
configure
.deps
install-sh
m4
lib/.deps
# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
